/* Reset some default styles */
body, h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #394e30;
}

header {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    flex-direction: column; /* Change to column layout for mobile */
    padding: 20px;
}

.contact-form, .map {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #0077cc;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0077cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #005299;
}


/* Media Query for Mobile */
@media (max-width: 767px) {
    .container {
        padding: 10px; /* Reduce padding for smaller screens */
    }

    .contact-form {
        margin: 5px; /* Reduce margin for smaller screens */
        padding: 10px; /* Reduce padding for smaller screens */
        max-width: none; /* Remove max-width for smaller screens */
    }

    form {
        max-width: 300px; /* Adjust the maximum width for the form */
        margin: 0 auto; /* Center the form horizontally */
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 95%;
        padding: 8px; /* Reduce padding for text fields */
        margin-bottom: 10px; /* Adjust margin for text fields */
    }

    button {
        display: block; /* Make the button a block-level element */
        margin: 0 auto; /* Center the button horizontally */
    }
}
